.app-content-side {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.home {
  flex: 90%;
}

.about-component {
  flex: 90%;
}

.post {
  flex: 90%;
}

.side-bar-component {
  flex: 10%;
}