body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/home.jpg");
  background-size: 100%;
  background-repeat: repeat-y;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}
