.side-bar-component {
  height: fit-content;
  position: absolute;
  right: 0;
  top: 0;
  /* display: flex;
  align-items: center; */
  margin-top: 80px;
  z-index: 10;
}

.side-bar-links {
  padding: 5px 10px 5px 5px;
  display: flex;
  flex-direction: column;
  background-color: #176E8C;
  border-radius: 10px 0 0 10px;
}

.side-bar-link {
  margin: 2px;
  text-decoration: none;
  color: white;
  padding: 3px;
}

.side-bar-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}

.fadeOut{
  opacity: 0;
  width: 0;
  height: 30px;
  transition: opacity 1s, width 0.5s;
}
.fadeIn{
  opacity:1;
  width: 250px;
  height:fit-content;
  transition: opacity 0.5s;
}

.fadeOut .side-bar-link{
  display: none;
  background-color: white;
}

.dividing-line {
  margin: 25px 0 5px;
}

.fadeOut .dividing-line {
  display: none;
}
