.edit-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update-map {
  margin: 10px;
  font-size: 0.9rem;
  padding: 5px;
  border: 1px solid #D3E2E5;
  border-radius: 5px;
  font-weight: bold;
}