.login-component {
  display: flex;
  height: 100vh;
  flex-direction: column;
  /* justify-content: space-around; */
  align-content: center;
}

.login-component .title {
  margin: 10px;
}

.login-component label {
  margin: 15px auto;
}

.input-email, .input-password {
  margin-left: 10px;
  padding: 5px;
}

.button-login, .button-forgot {
  width: fit-content;
  padding: 5px;
  margin: 5px auto;
}
