.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15px 0;
}
.title {
  /* border-radius: 10px; */
  margin: 0 auto;
  /* width: 300px; */
  /* height: fit-content; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: color 0.2s;
  font-size: 2rem;
  /* color: white; */

}