.post {
  width: 80%;
  margin: 20px auto 20px;
}

.post-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.post-title {
  padding: 30px 30px;
  /* text-align: center; */
  font-size: 2rem;
  margin: 0;
}

.post-left {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-middle {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-right {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-buttons {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.post-buttons button {
  font-size: 0.9rem;
  padding: 5px;
  border: 1px solid #D3E2E5;
  border-radius: 5px;
  font-weight: bold;
}

.post-buttons button:hover {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .post-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .post {
    height: 100%;
  }
}

@media print {  
  .footer-component, 
  .post-buttons,
  .side-bar-component {
    display: none;
  }

  .post-title {
    text-align: center;
  }
}