.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15px 0;
}
.header .title {
  font-family: 'Cinzel';
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: color 0.2s;
  font-size: 2rem;
  border-radius: 10px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 850px) {
  .header .title {
   margin: 50px 0 10px;
   font-size: 1.2rem;
   background-color: rgba(255, 255, 255, 0.274);
 }
}