.not-authorized-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.137);
}


.not-authorized-icon {
  margin: 15px;
  width: 40px;
  height: 40px;
}

.not-authorized-message {
  font-size: x-large;
  font-weight: bold;
}