
.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title {
    border-radius: 10px;
    margin: 0 auto;
    width: 300px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: color 0.2s;
    color: white;

}

.title:hover {
    background: white;
    color: black;
}



.rodape {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    
}
img {
    padding: 5px;
    width: 190px;
    margin: 0 auto;
    
}

.about {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin: 10px 0;
    padding: 4px;
    border-radius: 2px;
}
.about:hover {

    background: white;
    color: black;
}
